/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif; /* Main font for everything except title */
  background-color: #000000; /* Black background for retro theme */
  color: white;
}

/* Neon Blue Flash Animation */
@keyframes neon-blue-flash {
  0%, 100% {
    text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 20px #00FFFF;
  }
  50% {
    text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 40px #00FFFF;
  }
}

@keyframes navbar-blue-flash {
  0%, 100% {
    border-color: #00FFFF;
    box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 40px #00FFFF;
  }
  50% {
    border-color: #00FFFF;
    box-shadow: 0 0 20px #00FFFF, 0 0 40px #00FFFF, 0 0 80px #00FFFF;
  }
}

.typewriter {
  display: inline-block;
  font-family: 'Press Start 2P', cursive; /* Retro arcade font */
  color: white;
  overflow: hidden; /* Hide the overflowing text */
  border-right: 2px solid #00FFFF; /* Neon blue blinking cursor */
  white-space: nowrap;
  animation: typewriter 8s steps(30, end), blink 1s step-end infinite; /* Slower typing speed */
  text-decoration: none; /* Ensure no underline */
}
